body {
    background-image: url(../fish.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 7000px;
}
/* /////////////  CONTAINER //////// */
.carton {
    margin-left: 180px;
}
/* /////////////////////////////////////////////////////////////////////////////
/////////////////////////// LEFT NAVIGATION BAR /////////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
.side-nav {
    background: linear-gradient(#c0f5f8, #35B6BE , #32B4F0 , #194BA4  );
    width: 180px;
    text-align: center;
    color: pink;
}
.side-nav li>a {
    color: rgb(255, 255, 255);
    font-size: 17px;
}
.side-nav li>a:hover {
   color: yellow;
}
/* LOGO */
/* LOGO ANIMATION located on waypoint.css */
.logo {
    margin: 3px;
    padding: 10px;
    height: 120px;
    width: 175px;
    margin-bottom: 0;
    margin-left: 0;
}
/* SEARCH BAR */
#search {
   background: rgb(3, 26, 61);
   color: yellow;
   padding: 10px;
}
/* PIC AT BOTTOM OF NAV BAR*/
.navProfile {
    text-align: center;
    padding: 5px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
/* /////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// NAME OF PERSON /////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
#nameOfPerson {
    color: rgb(5, 5, 49);
    text-align: center;
    font-size: 100px;
    font-family: 'Monofett', cursive;
    height: 100vh;
}

/* /////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// SYNOPSIS ///////////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
#synopsis {
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    color: rgb(0, 0, 0);
}
/* PROFILE PIC */
.profile-picture {
    margin: 10px;
    margin-right: 30px;
    padding: 15px;
    width: 350px;
    height: 450px;
    float: left;
}
/* SYNOPSIS PARAGRAPH */
.content-word {
    font-size: 10px;
    padding: 100px 20px;
    height: 400px;
    width: 400px;
    background: rgba(0, 119, 255, 0.2);  
    border: 1px solid lightblue;  
    border-radius: 100%;
}
/* RANDSOM BUBBLE */
#random-bubble {
    height: 200px;
    width: 200px;
    background: rgba(0, 119, 255, 0.2);    
    border-radius: 100%;
    border: 1px solid lightblue;  
    float: right;
    margin: 100px;
    padding: 80px;
    color: yellow;
}
/* /////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// THE BRAND ///////////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
#theBrand {
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    color: rgb(0, 0, 0);
}
/* /////////////////////////////////////////////////////////////////////////////
////////////////////////////////// PERSONAL LIFE ////////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
#personalLife {
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    color: rgb(0, 0, 0);
}
/* /////////////////////////////////////////////////////////////////////////////
//////////////////////////////// QUICK FACTS ////////////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
#quickFacts {
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    color: rgb(0, 0, 0);
}
/* /////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// PHOTOS ///////////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
#photos {
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    color: rgb(0, 0, 0);
}
/* /////////////////////////////////////////////////////////////////////////////
//////////////////////////////////// VIDEOS ///////////////////////////////// 
////////////////////////////////////////////////////////////////////////////// */
#videos {
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    color: rgb(0, 0, 0);
}