body {
    background-color: #c5e3ed;
}
/* Navigation Bar */
.navBar {
    width: 12%;
    height: 630px;
    border-right: 1px solid #ff6666;
    margin-top: 20px;
    float: left;
    border-radius: 10px;  
    position: fixed;  
}
.navProfile {
    text-align: center;
    padding: 5px;
    height: 190px;
    width: 175px;
}
/* Logo */
.logo {
    margin: 3px;
    padding: 10px;
    height: 120px;
    width: 175px;
    margin-bottom: 0;
    margin-left: 0;
}
/* Searcha Bar */
.searchBar {
    margin-left: 180px;     
    width: 84%;
    height: 50px;
    color: black;
    position: fixed;
    background-color: #c5e3ed;
    top: 0;
}

#search {
    float: right;
    outline: none;
    margin-top: 10px;
    width: 350px;
    height: 30px;
    color: black;
}
/* Container */
.right-bottom-carton {
    margin-left: 180px;  
    margin-top: 50px;    
    width: 83.9%;
    height: 1500px;
    border-radius: 10px;
}
.profile-picture {
    margin: 10px;
    margin-right: 30px;
    padding: 15px;
    width: 350px;
    height: 500px;
    float: left;
}
/* Name/Year of Person */
.nameOfPerson {
    color: #000;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
.yearOfPerson {
    color: #000;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret .5s step-end infinite;
}

/* Synopsis */
#synopsis {
    color: #000;
    font-family: monospace;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}
.content-word {
    font-size: 10px;
    padding: 100px 20px;
    margin: 10px;
    border-radius: 90%;
    border: 1px solid red;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}

.profile-image {
    margin: 2px;
    height: 490px;
    width: 345px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
