.profile-image {
    color: blue;
    font-size: 140px;
    opacity: 1; 
    transition: all 200ms ease-in;
}

.js-profile-image-animate {
    opacity: 0;
    animation: profile-image-jiggle 250ms linear;
}

@keyframes profile-image-jiggle {
    0% {
        transform: rotate(0)
    }

    33% {
        transform: rotate(15deg)
    }

    66% {
        transform: rotate(-15deg)
    }

    100% {
        transform: rotate(0)
    }
}

.word {
    font-size: 30px;
    text-align: center;
    opacity: 0;
}

.js-word-animate {
    opacity: 1;
    animation: word-jiggle 250ms linear;
}

@keyframes word-jiggle {
    0% {
        transform: rotate(0)
    }

    33% {
        transform: rotate(15deg)
    }

    66% {
        transform: rotate(-15deg)
    }

    100% {
        transform: rotate(0)
    }
}
/* content-word right to left movement */
.content-word{
    animation: 
      nudge 5s linear infinite alternate;
  }
  @keyframes nudge {
    70%, 100% {
      transform: translate(20px, 30px);
    }
  }
#random-bubble{
    animation: 
      nudge 8s linear infinite alternate;
  }
  @keyframes nudge {
    70%, 90% {
      transform: translate(20px, 40px);
    }
}